name: Build macOS (x86_64)

on:
  push:
    branches: [ main, generators ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-macos-x86:
    runs-on: macos-13
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Install dependencies
      run: |
        brew install gcc@14
        brew install ffmpeg
      
    - name: Build flimmaker
      run: |
        cd src
        make clean
        make release CPP=g++-14
        
    - name: Test binary
      run: |
        file flimmaker
        ./flimmaker --help
